.text-head {
    position: relative;
    margin-bottom: 30px;
    
    &__title--2 {
        color: #252222;
        margin: 60px 0px 25px 0px;
        text-align: center;
        font-size: 25.5px;
        font-weight: 900;
        opacity: 0.8;
    }

    &__description {
        font-size: 13.5px;
        font-weight: 600;
        color: #7E7FA0;
        line-height: 25px;
        opacity: 0.7;
        margin: 21px 0px 40px 0px;
        margin: 0px 0px 0px 10px;
        text-align: center;
    }
}

@supports (font-variation-settings: "wght" 800) {
    .text-head__title--1 {
        color: #252222;
        margin: 60px 0px 25px 0px;
        text-align: center;
        font-size: 25.5px;
        font-weight: 900;
        opacity: 0.8;
    }
}